h1,h2{
    text-align:center;
}
#table{
    width:600px;
    height:600px;
    margin:0 auto;
    text-align:center;
    margin-top:200px;
    margin-bottom:200px;
}
.cell{
    width:30%;
    height:30%;
}
form{
    width:600px;
    height:600px;
    margin:0 auto;
    text-align:center;
}
#decision{
    width:200px;
    height:100px;
    margin-top:20px;
}
li{
    list-style:none;
    border: 1px solid #000;
    float:left;
}