<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログインフォーム</title>
</head>
<body>
   <h1><%= title %></h1>
   <% userlists.forEach(function(userlist){ %>
   <p>ようこそ<%= userlist.username %>さん</p>
   <% }) %>
   <form action="/login" method="post">
   <input type="text" name="username">
   <input type="text" name="password">
   <input type="submit" value="ログイン">
   </form>
   <a href="/subscribe">新規登録</a>
</body>
</html>