<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登録フォーム</title>
</head>
<body>
  <h1>登録フォーム</h1>
   <form action="/create" method="post">
   <div>
   <label for="username">名前</label>
   <input type="text" name="username">
   </div>
   <div>
   <label for="password">パスワード</label>
   <input type="text" name="password" id="password">
   </div>
   <input type="submit" value="登録">
   </form>
   </p>
</body>
</html>